@model RouteDetail

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Route Detail</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">New Builty</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Builty No:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Builty Number">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Driver Name:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Drive Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Truck No:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Truck Number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Date:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Weight:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Weight">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">From Station:</label>
                            @Html.DropDownListFor(model => model.FromStation,(SelectList)ViewData["StationDDL"], new { @class = "form-control", style = "width: 100%;", id = "FromStation" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">To Station:</label>
                        @Html.DropDownListFor(model => model.ToStation,(SelectList)ViewData["StationDDL"], new { @class = "form-control", style = "width: 100%;", id = "ToStation" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">From-Fare:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">To-Fare:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total Fare:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total Expense:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Total Income:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                </div>
            </div>
            <hr />
            <span class="input-group-append">
                <button type="button" class="btn btn-success btn-flat">Add</button>
            </span>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Expense Type:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Amount:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Amount">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>